/* LIST SECTION */

.to-do {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.list-container {
  margin: 0;
  width: 100%;
  padding: 0 15px;
}

.list-container > li {
  border: 1px solid rgb(36 34 34);
  padding: 10px;
}

.to-do-container > ul > li {
  list-style-type: none;
  font-size: 1.2rem;
}

#input-list {
  flex: 1;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  font-style: italic;
}

.to-do-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid grey;
  width: 100%;
  box-sizing: border-box;
  background-color: #ddd;
}

.footer-a {
  color: black;
}
